{{ partial "header.html" . }}
<section class="hero is-primary">
	<div class="hero-body">
		<div class="container">
			{{ partial "page_title.html" . }}
		</div>
	</div>
</section>
<link href='{{ "dist/bb.min.css" | absURL}}' rel="stylesheet"/>
<script type="text/javascript" src='{{ "dist/bb.min.js" | absURL}}'></script>
<section class="section">
  <div class="container">
    <nav class="breadcrumb mb-std" aria-label="breadcrumbs">
      <ul>
        <li><a href="{{ .Site.BaseURL }}">Home</a></li>
        <li><a href="{{ .Parent.URL }}">Gallery</a></li>
        <li class="is-active"><a href="#" aria-current="page">{{ .Title }}</a></li>
      </ul>
    </nav>
    <!-- <h1 class="title is-size-1">{{ .Title }}</h1> -->
    <div class="columns is-multiline gallery mb-std">
      {{ range .Params.images }}
      <div class="column is-one-quarter">
        <a href="{{ (trim . "/") | absURL }}" class="is-block box is-shadowless is-paddingless" >
          <div class="content">
            <span class="square is-block">
              <span class="content" style="background-image: url('{{(trim . "/") | absURL}}')"></span>
            </span>
          </div>
        </a>        
      </div>
      {{end}}
    </div>
    <div class="has-text-centered">
      <a href="{{ .Parent.URL }}" class="button is-medium is-rounded is-danger is-outlined">Back to {{ .Parent.Title }}</a>
    </div>
  </div>
</section>
<script>
  baguetteBox.run('.gallery');
</script>

{{ partial "footer.html" . }}