{{ partial "header.html" . }}
<!-- <section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      {{ partial "page_title.html" . }}
    </div>
  </div>
</section> -->
<section class="">
  <figure class="image is-3by1">
    <img  class="" src="{{(trim .Params.featured_image "/") | absURL }}">
  </figure>
</section>
{{ partial "agriculture-menu.html" . }}
<div class="section">
  <div class="container is-fluid">
    {{ .Content }}
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
      <thead>
        <tr>
          {{ range .Params.header }}
          <th class="has-text-centered has-text-weight-semibold is-size-5">{{.header_title}}</th>
          {{ end }}
        </tr>
      </thead>
      {{ range .Params.details }}
      <tbody>
        <tr>
          <td class="">
            <span class="table-image">
              <figure class="image is-62x62">
                <img src="{{(trim .image "/") | absURL }}">
              </figure>
            </span>
          </td>
          <td class="has-text-centered">{{ .name }}</td>
          <td class="has-text-centered">{{ .action }}</td>
          <td class="has-text-centered">
            <a class="button is-info is-rounded" href="{{ (trim .profile_file "/" ) | absURL }}">
              <span class="icon"><span class="far fa-arrow-alt-circle-down"></span></span>
              <span class="has-text-weight-semibold">Download</span>
            </a>
          </td>
        </tr>
      </tbody>
      {{end}}
    </table>
  </div>
</div>
{{ partial "footer.html" . }}